<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e845a48a56.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/left-section.css">
    <link rel="stylesheet" href="/CSS/right-section.css">
    <title>Facebook Home</title>
</head>
<body>
    <header>
        <div class="left-side">
                <img src="/icons/facebook-logo.png" alt="" class="facebook-logo">
                <input type="text" placeholder="Search Facebook" class="input-box">
        </div>
        <div class="middle-section">
            <button>
                <i class="fa-solid fa-house"></i>
                <div class="tool-tip">
                    Home
                </div>
            </button>
            <button>
                <i class="fa-solid fa-tv"></i>
                <div class="tool-tip">
                    Watch
                </div>
            </button>
            <button>
                <i class="fa-sharp fa-solid fa-store"></i>
                <div class="tool-tip">
                    Marketplace
                </div>
            </button>
            <button>
                <i class="fa-solid fa-users-rectangle"></i>
                <div class="tool-tip">
                    Groups
                </div>
            </button>
            <button>
                <i class="fa-solid fa-chess-knight"></i>
                <div class="tool-tip">
                    Gaming
                </div>
            </button>
        </div>
        <div class="right-section">
            <button>
                <i class="fa-solid fa-table-cells"></i>
                <div class="tool-tip">
                    Menu
                </div>
            </button>
            <button>
                <p class="notification-stats">
                    8
                </p>
                <i class="fa-brands fa-facebook-messenger"></i>
                <div class="tool-tip">
                    Messenger
                </div>
            </button>
            <button>
                <p class="notification-stats">
                    13+
                </p>
                <i class="fa-regular fa-bell"></i>
                <div class="tool-tip">
                    Notifications
                </div>
            </button>
            <img src="/images/my-profile-pic.jpg" alt="" class="profile-picture">
        </div>
    </header>
    <main>
        <!--Left section-->
        <section class="left-section">
            <button>
                <img src="/images/my-profile-pic.jpg" alt="" class="user">
                <p>Ojala F senior</p>
            </button>
            <button>
                <img src="/icons/friends-icon.png" alt="">
                <p>Friends</p>
            </button>
            <button>
                <img src="/icons/marketplace-icon.png" alt="">
                <p>Marketplace</p>
            </button>
            <button>
                <img src="/icons/watch-icon.png" alt="">
                <p>Watch</p>
            </button>
            <button>
                <img src="/icons//icon-memories.png" alt="">
                <p>Memories</p>
            </button>
            <button>
                <img src="/icons/icon-saved.png" alt="">
                <p>Saved</p>
            </button>
            <button>
                <img src="/icons/icon-pages.png" alt="">
                <p>Pages</p>
            </button>
            <button>
                <img src="/icons/icon-events.png" alt="">
                <p>Events</p>
            </button>
            <button>
                <img src="/icons/icon-most-recent.png" alt="">
                <p>Most recent</p>
            </button>
            <button>
                <img src="/icons/icon-adds-manager.png" alt="">
                <p>Ads Manager</p>
            </button>
            <button>
                <img src="/icons/ads-center.png" alt="">
                <p>Ad Center</p>
            </button>
            <button>
                <img src="/icons/blood-donations.png" alt="">
                <p>Blood Donations</p>
            </button>
            <button>
                <img src="/icons/clim-sci-center.png" alt="">
                <p>Climate Science Center</p>
            </button>
            <button>
                <img src="/icons/covid-info-center.png" alt="">
                <p>COVID-19 Information Center</p>
            </button>
            <button>
                <img src="/icons/crisis-response.png" alt="">
                <p>Crisis Response</p>
            </button>
            <button>
                <img src="/icons/emotional-health.png" alt="">
                <p>Emotional Health</p>
            </button>
            <button>
                <img src="/icons/facebook-pay.png" alt="">
                <p>Facebook Pay</p>
            </button>
            <button>
                <img src="/icons/fundraisers.png" alt="">
                <p>Fundraisers</p>
            </button>
            <button>
                <img src="/icons/gaming-viseo.png" alt="">
                <p>Gaming Video</p>
            </button>
            <button>
                <img src="/icons/live-video.png" alt="">
                <p>Live Videos</p>
            </button>
            <button>
                <img src="/icons/messenger.png" alt="">
                <p>Messenger</p>
            </button>
            <button>
                <img src="/icons/messenger-kids.png" alt="">
                <p>Messenger Kids</p>
            </button>
            <button>
                <img src="/icons/play-games.png" alt="">
                <p>Play games</p>
            </button>
            <button>
                <img src="/icons/recent-ad-activity.png" alt="">
                <p>Recent ad activity</p>
            </button>
        </section>
        <!--Middle section-->
        <section class=" middle-section-main">
            
        </section>
        <!--Right-section-->
        <section class="right-section-main">
            <div class="birthdays">
                <p class="birthday-title">Birthdays</p>
                <button>
                    <img src="/images/bithday-svg.jfif" alt="">
                    <p>
                        <span class="birthday-info">Maria Joaquina</span> and
                        <span class="birthday-info">10 others</span> have their birthdays today.
                    </p>
                </button>
                <hr>
            </div>
            <div class="contacts">
                <div class="contact-section-header">
                    <p>Contacts</p>
                    <div>
                        <button class="new-room">
                            <i class="fa-solid fa-video"></i>
                            <div class="tool-tip">
                                New room
                            </div>
                        </button>
                        <button class="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <div class="tool-tip">
                                Search groups and people
                            </div>
                        </button>
                        <button class="options">
                            <i class="fa-solid fa-ellipsis"></i>
                            <div class="tool-tip">
                                Options
                            </div>
                        </button>
                    </div>
                </div>
                <div class="online-accounts">
                    <button>
                    <img src="/images/my-profile-pic.jpg" alt="">
                    <p>Ojala F Senior</p>
                </button>
                <button>
                    <img src="/images/my-profile-pic.jpg" alt="">
                    <p>Ojala F Senior</p>
                </button>
                <button>
                    <img src="/images/my-profile-pic.jpg" alt="">
                    <p>Ojala F Senior</p>
                </button>
                <button>
                    <img src="/images/my-profile-pic.jpg" alt="">
                    <p>Ojala F Senior</p>
                </button>
                <button>
                    <img src="/images/my-profile-pic.jpg" alt="">
                    <p>Ojala F Senior</p>
                </button>
                <button>
                    <img src="/images/my-profile-pic.jpg" alt="">
                    <p>Ojala F Senior</p>
                </button>
                <button>
                    <img src="/images/my-profile-pic.jpg" alt="">
                    <p>Ojala F Senior</p>
                </button>
                <button>
                    <img src="/images/my-profile-pic.jpg" alt="">
                    <p>Ojala F Senior</p>
                </button>
                <button>
                    <img src="/images/my-profile-pic.jpg" alt="">
                    <p>Ojala F Senior</p>
                </button>
                <button>
                    <img src="/images/my-profile-pic.jpg" alt="">
                    <p>Ojala F Senior</p>
                </button>
                <button>
                    <img src="/images/my-profile-pic.jpg" alt="">
                    <p>Ojala F Senior</p>
                </button>
                <button>
                    <img src="/images/my-profile-pic.jpg" alt="">
                    <p>Ojala F Senior</p>
                </button>
                </div>
            </div>
            <div class="compose-message">
                    
                <button>
                    <div class="more">
                        <i class="fa-solid fa-ellipsis"></i>
                        <div class="more-tool-tip">
                            Options
                        </div>
                    </div>
                    <i class="fa-solid fa-pen-to-square"></i>
                    <div class="tool-tip">
                        New Message
                    </div>
                </button>
                
            </div>
        </section>


        
    </main>
</body>
</html>