<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e845a48a56.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CSS/header.css">
    <title>Facebook Home</title>
</head>
<body>
    <header>
        <div class="left-side">
                <img src="/icons/facebook-logo.png" alt="" class="facebook-logo">
                <input type="text" placeholder="Search Facebook" class="input-box">
        </div>
        <div class="middle-section">
            <button>
                <i class="fa-solid fa-house"></i>
                <div class="tool-tip">
                    Home
                </div>
            </button>
            <button>
                <i class="fa-solid fa-tv"></i>
                <div class="tool-tip">
                    Watch
                </div>
            </button>
            <button>
                <i class="fa-sharp fa-solid fa-store"></i>
                <div class="tool-tip">
                    Marketplace
                </div>
            </button>
            <button>
                <i class="fa-solid fa-users-rectangle"></i>
                <div class="tool-tip">
                    Groups
                </div>
            </button>
            <button>
                <i class="fa-solid fa-chess-knight"></i>
                <div class="tool-tip">
                    Gaming
                </div>
            </button>
        </div>
        <div class="right-section">
            <button>
                <i class="fa-solid fa-table-cells"></i>
                <div class="tool-tip">
                    Menu
                </div>
            </button>
            <button>
                <i class="fa-brands fa-facebook-messenger"></i>
                <div class="tool-tip">
                    Messenger
                </div>
            </button>
            <button>
                <p class="notification-stats">
                    13+
                </p>
                <i class="fa-regular fa-bell"></i>
                <div class="tool-tip">
                    Notifications
                </div>
            </button>
            <img src="/images/my-profile-pic.jpg" alt="" class="profile-picture">
        </div>
       
        
    </header>
</body>
</html>